@font-face{
  font-family: "Backslash";
  src: url('./Backslash.otf') format('opentype');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

.App {
  text-align: center;
  overflow: hidden;
}

/*
styling for large screens
*/
@media only screen and (min-width: 1500px) {

  .resume {
    height: 330px;
    position: absolute;
    left: 73%;
    right: 27%;
    top: 220px;
    transition: transform .2s;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    animation: slide-up 1.7s;
  }

  .about-me {
    font-size: 45px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    position: absolute;
    width: 370px;
    left: 8%;
    right: 92%;
    top: 100px;
    animation: slide-up 1.3s;
  }

  .container {
    position: relative;
    top: 80px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
    margin-top: 200px;
    margin-bottom: 130px;
  }

  .resume-text {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 72%;
    right: 28%;
    font-size: 45px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    animation: slide-up 1.3s;
  }

  .about-me-text {
    position: absolute;
    top: 200px;
    left: 8%;
    right: 92%;
    width: 380px;
    height: 200px;
    font-size: 25px;
    text-align: left;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    transition: .2s;
    animation: slide-up 1.7s;
  }

  .project-header {
    position: absolute;
    top: 1070px;
    left: 50px;
    font-family: "Open Sans";
    font-size: 55px;
    color: #2b2b2b;
  }

  .pge-header {
    position: absolute;
    top: 1160px;
    left: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .pge-desc {
    position: absolute;
    top: 1230px;
    left: 50px;
    width: 750px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    padding-bottom: 50px;
    transition: .2s;
  }

  .pge-content {
    position: absolute;
    top: 1175px;
    right: 50px;
    width: 40%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    transition: .2s;
    border-radius: 15px;
  }

  .pge-content:hover {
    transform: scale(1.1);
    translate: -30px;
  }

  .scheduler-header {
    position: absolute;
    top: 1650px;
    left: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .scheduler-desc {
    position: absolute;
    top: 1720px;
    left: 50px;
    width: 750px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
  }

  .video-responsive {
    overflow: hidden;
    top: 400px;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    transition: .2s;
  }
  
  .video-responsive iframe {
    right: 50px;
    height: 40%;
    width: 40%;
    top: 15px;
    max-width: 800px;
    position: absolute;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
  }

  .autodrive-header {
    position: absolute;
    top: 2200px;
    left: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .autodrive-desc {
    position: absolute;
    top: 2270px;
    left: 50px;
    width: 750px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 100px;
  }

  .autodrive-content {
    position: absolute;
    top: 2200px;
    right: 50px;
    width: 40%;
    max-width: 800px;
    transition: .2s;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
  }

  .autodrive-content:hover {
    transform: scale(1.1);
    translate: -30px;
  }

  /*
  .line {
    border-left: 2px solid black;
    height: 1200px;
    position: absolute;
    left: 50%;
    top: 1100px;
    animation: reveal 5s;
  }
  */

  .yams-header {
    position: absolute;
    top: 2750px;
    left: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .yams-desc {
    position: absolute;
    top: 2820px;
    left: 50px;
    width: 750px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 100px;
  }

  .yams-content {
    position: absolute;
    top: 2740px;
    right: 50px;
    width: 40%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .yams-content:hover{
    transform: scale(1.1);
    translate: -30px;
  }

  .karma-header {
    position: absolute;
    top: 3260px;
    left: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .karma-desc {
    position: absolute;
    top: 3330px;
    left: 50px;
    width: 750px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 300px;
  }

  .karma-content {
    position: absolute;
    top: 3260px;
    right: 50px;
    width: 40%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .karma-content:hover{
    transform: scale(1.1);
    translate: -30px;
  }

}

/*
styling for medium size screens
*/
@media only screen and (min-width: 777px) and (max-width: 1500px) {

  .resume {
    height: 270px;
    position: relative;
    top: 700px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 55px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    position: relative;
    top: 640px;
  }

  .container {
    visibility: hidden;
    position: relative;
    top: 410px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
  }
  
  .about-me {
    top: 600px;
    position: relative;
    font-size: 55px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
  }

  .about-me-text {
    top: 610px;
    width: 600px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    font-size: 26px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    transition: .2s;
  }

  .project-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans";
    font-size: 55px;
    color: #2b2b2b;
  }

  .pge-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
    top: 30px;
  }

  .pge-desc {
    position: relative;
    margin: auto;
    top: 50px;
    width: 730px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    padding-bottom: 50px;
    transition: .2s;
  }

  .pge-content {
    position: relative;
    top: 60px;
    width: 50%;
    min-width: 700px;
    box-shadow: 0px 0px 15px black;
    transition: .2s;
    border-radius: 15px;
  }

  .pge-content:hover {
    transform: scale(1.1);
  }

  .scheduler-header {
    position: relative;
    margin: auto;
    top: 120px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .scheduler-desc {
    position: relative;
    top: 140px;
    margin: auto;
    width: 730px;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
  }

  .video-responsive {
    right: 24%;
    padding-right: 30px;
    overflow: hidden;
    top: 150px;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    transition: .2s;
  }
  
  .video-responsive iframe {
    height: 50%;
    width: 50%;
    top: 15px;
    max-width: 800px;
    position: absolute;
    box-shadow: 0px 0px 15px black;
  }

  .autodrive-header {
    position: relative;
    margin: auto;
    top: -130px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .autodrive-desc {
    position: relative;
    top: -110px;
    width: 730px;
    margin: auto;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
  }

  .autodrive-content {
    position: relative;
    top: -80px;
    margin: auto;
    width: 50%;
    min-width: 700px;
    box-shadow: 0px 0px 15px black;
    transition: .2s;
    border-radius: 15px;
  }

  .autodrive-content:hover{
    transform: scale(1.1)
  }

  .yams-header {
    position: relative;
    margin: auto;
    top: -30px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .yams-desc {
    position: relative;
    width: 730px;
    margin: auto;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 100px;
  }

  .yams-content {
    position: relative;
    top: -30px;
    width: 50%;
    min-width: 700px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .yams-content:hover {
    transform: scale(1.1);
  }

  .karma-header {
    position: relative;
    margin: auto;
    top: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .karma-desc {
    position: relative;
    top: 70px;
    width: 750px;
    margin: auto;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 200px;
  }

  .karma-content {
    position: relative;
    top: -50px;
    width: 50%;
    min-width: 700px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .karma-content:hover {
    transform: scale(1.1);
  }

}

@media only screen and (min-width: 400px) and (max-width: 777px) {

  .resume {
    height: 270px;
    position: relative;
    top: 700px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 55px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    position: relative;
    top: 640px;
  }

  .container {
    visibility: hidden;
    position: relative;
    top: 410px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
  }
  
  .about-me {
    top: 570px;
    position: relative;
    font-size: 55px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
  }

  .about-me-text {
    top: 580px;
    width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    font-size: 26px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    transition: .2s;
  }

  .project-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans";
    font-size: 55px;
    color: #2b2b2b;
  }

  .pge-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
    top: 30px;
  }

  .pge-desc {
    position: relative;
    margin: auto;
    top: 50px;
    width: 400px;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    padding-bottom: 50px;
    transition: .2s;
  }

  .pge-content {
    position: relative;
    top: 60px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    transition: .2s;
    border-radius: 15px;
  }

  .pge-content:hover {
    transform: scale(1.1);
  }

  .scheduler-header {
    position: relative;
    margin: auto;
    top: 120px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .scheduler-desc {
    position: relative;
    top: 140px;
    margin: auto;
    width: 400px;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
  }

  .video-responsive {
    padding-right: 80%;
    overflow: hidden;
    top: 150px;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    transition: .2s;
    margin-bottom: 150px;
  }
  
  .video-responsive iframe {
    height: 80%;
    width: 80%;
    top: 15px;
    max-width: 800px;
    position: absolute;
    box-shadow: 0px 0px 15px black;
  }

  .autodrive-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .autodrive-desc {
    position: relative;
    top: 20px;
    width: 400px;
    margin: auto;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
  }

  .autodrive-content {
    position: relative;
    top: 80px;
    margin: auto;
    width: 80%;
    max-width: 800px;
    transition: .2s;
    box-shadow: 0px 0px 15px black;
    margin-bottom: 200px;
    border-radius: 15px;
  }

  .yams-header {
    position: relative;
    margin: auto;
    top: -30px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .yams-desc {
    position: relative;
    width: 400px;
    margin: auto;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 100px;
  }

  .yams-content {
    position: relative;
    top: -30px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .karma-header {
    position: relative;
    margin: auto;
    top: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .karma-desc {
    position: relative;
    top: 70px;
    width: 400px;
    margin: auto;
    text-align: justify;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 200px;
  }

  .karma-content {
    position: relative;
    top: -50px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

}

@media only screen and (max-width: 400px) {
  .resume {
    height: 300px;
    position: relative;
    top: 750px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 45px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    position: relative;
    top: 700px;
  }

  .container {
    visibility: hidden;
    position: relative;
    top: 380px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
  }

  .about-me {
    top: 670px;
    position: relative;
    font-size: 55px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
  }

  .about-me-text {
    top: 680px;
    width: 330px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    font-size: 26px;
    font-family: "Open Sans Light";
    color: #2b2b2b;
    transition: .2s;
  }

  .project-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans";
    font-size: 55px;
    color: #2b2b2b;
  }

  .pge-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans Light";
    font-size: 36px;
    width: 330px;
    color: #2b2b2b;
    top: 30px;
  }

  .pge-desc {
    position: relative;
    margin: auto;
    top: 50px;
    width: 300px;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 22px;
    color: #2b2b2b;
    padding-bottom: 50px;
    transition: .2s;
  }

  .pge-content {
    position: relative;
    top: 60px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    transition: .2s;
  }

  .pge-content:hover {
    transform: scale(1.1);
  }

  .scheduler-header {
    position: relative;
    margin: auto;
    top: 120px;
    font-family: "Open Sans Light";
    font-size: 36px;
    width: 330px;
    color: #2b2b2b;
  }

  .scheduler-desc {
    position: relative;
    top: 140px;
    margin: auto;
    width: 300px;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 22px;
    color: #2b2b2b;
    transition: .2s;
  }

  .video-responsive {
    padding-right: 80%;
    overflow: hidden;
    top: 150px;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    transition: .2s;
    margin-bottom: 170px;
  }
  
  .video-responsive iframe {
    height: 80%;
    width: 80%;
    top: 15px;
    max-width: 800px;
    position: absolute;
    box-shadow: 0px 0px 15px black;
  }

  .autodrive-header {
    position: relative;
    margin: auto;
    font-family: "Open Sans Light";
    font-size: 36px;
    width: 330px;
    color: #2b2b2b;
  }

  .autodrive-desc {
    position: relative;
    top: 20px;
    width: 300px;
    margin: auto;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 22px;
    color: #2b2b2b;
    transition: .2s;
  }

  .autodrive-content {
    position: relative;
    top: 30px;
    margin: auto;
    width: 80%;
    max-width: 800px;
    transition: .2s;
    padding-bottom: 100px;
  }

  .yams-header {
    position: relative;
    margin: auto;
    top: -30px;
    font-family: "Open Sans Light";
    font-size: 36px;
    color: #2b2b2b;
  }

  .yams-desc {
    position: relative;
    width: 300px;
    margin: auto;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 100px;
  }

  .yams-content {
    position: relative;
    top: -30px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

  .karma-header {
    position: relative;
    margin: auto;
    top: 50px;
    font-family: "Open Sans Light";
    font-size: 40px;
    color: #2b2b2b;
  }

  .karma-desc {
    position: relative;
    top: 70px;
    width: 300px;
    margin: auto;
    text-align: left;
    font-family: "Open Sans Light";
    font-size: 25px;
    color: #2b2b2b;
    transition: .2s;
    padding-bottom: 200px;
  }

  .karma-content {
    position: relative;
    top: -50px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 0px 15px black;
    border-radius: 15px;
    transition: .2s;
  }

}

.resume:hover {
  transform: scale(1.2);
}

.App-logo {
  height: 300px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0px 0px 15px black;
  transition: transform .2s;
}

.App-logo:hover {
  transform: scale(1.2);
}

.gallery {
  margin: 0;
  background: url('./languages.png') repeat-x;
  height: 1080px;
  width: 19940px;
  animation: slide 30s linear infinite;
} 

@keyframes slide {
  0% {
    transform: translate3d(-3240px, 0, 0);
  }
  100% {
    transform: translate3d(-9720px, 0, 0);
  }
}

.App-header {
  height: 2vh;
  position: relative;
  top: 280px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 44px;
}

.App-header h1 {
  font-size: 75px;
  font-family: "Open Sans Light";
  color: #2b2b2b;
  margin: auto;
}

.App-header h2 {
  font-size: 22px;
  font-family: "Open Sans Light";
  color: #2b2b2b;
  margin-bottom: 0px;
  margin-top: 10px;
}

.App-header a {
  font-size: 45px;
  font-family: "Open Sans Light";
  color: rgb(65, 75, 85);
  position: relative;
  top: 20px;
}

a:link, a:visited {
  color: rgb(65, 75, 85);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(95, 133, 117);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    margin-top: 12%;
  }

  to {
    opacity: 1;
    margin-top: 0%;
  }
}

/*
@keyframes reveal {
  0% {
    opacity: 0;
    height: 0px;
  }

  25% {
    opacity: 1;
    height: 500px;
  }

  50% {
    height: 1000px;
  }

  100% {
    height: 1200px;
  }
}
*/