@font-face{
  font-family: "Backslash";
  src: url('./Backslash.otf') format('opentype');
}

.App {
  text-align: center;
  background-image: url("./image.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media only screen and (min-width: 1500px) {

  .resume {
    height: 310px;
    position: absolute;
    left: 14%;
    right: 86%;
    top: 250px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 45px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige;
    position: absolute;
    width: 350px;
    left: 10%;
    right: 90%;
    top: 100px;
  }

  .container {
    position: relative;
    top: 250px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
    margin-bottom: 120px;
  }

  .about-me {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 70%;
    right: 30%;
    font-size: 45px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige;
  }

  .about-me-text {
    position: absolute;
    top: 200px;
    left: 68%;
    right: 32%;
    width: 380px;
    height: 200px;
    font-size: 26px;
    font-family: "Backslash";
    color: rgb(65, 75, 85);
    text-shadow: 0px 0px 7px beige; 
  }
}

@media only screen and (min-width: 400px) and (max-width: 1500px) {

  .resume {
    height: 270px;
    position: relative;
    top: 530px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 45px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige;
    position: relative;
    top: 570px;
  }

  .container {
    position: relative;
    top: 330px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
    margin-bottom: 170px;
  }
  
  .about-me {
    top: 490px;
    position: relative;
    font-size: 55px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige;
  }

  .about-me-text {
    top: 510px;
    width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    font-size: 26px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige; 
  }

}

@media only screen and (max-width: 400px) {
  .resume {
    height: 30vmin;
    position: relative;
    top: 600px;
    transition: transform .2s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px black;
  }

  .resume-text {
    font-size: 45px;
    font-family: "Backslash";
    color: #2b2b2b;
    text-shadow: 0px 0px 5px beige;
    position: relative;
    top: 630px;
  }

  .container {
    position: relative;
    top: 380px;
    height: 800px;
    scale: 0.25;
    transition: transform .2s;
    margin-bottom: 220px;
  }
}

.resume:hover {
  transform: scale(1.2);
}

.App-logo {
  height: 300px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0px 0px 15px black;
  transition: transform .2s;
}

.App-logo:hover {
  transform: scale(1.2);
}

.gallery {
  margin: 0;
  background: url('./gallery_images.png') repeat-x;
  height: 1080px;
  width: 19940px;
  animation: slide 30s linear infinite;
  box-shadow: 0px 0px 70px black;
} 

.gallery:hover {
  animation-play-state: paused;
}

.container:hover {
  transform: scale(1.4);
}

@keyframes slide {
  0% {
    transform: translate3d(-3240px, 0, 0);
  }
  100% {
    transform: translate3d(-9720px, 0, 0);
  }
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}
*/

/*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
*/

.App-header {
  height: 2vh;
  position: relative;
  top: 280px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 50px;
  font-family: "Backslash";
  color: #5a5a5a;
  text-shadow: 0px 0px 10px black;
}

.App-header h1 {
  font-size: 75px;
  font-family: "Backslash";
  color: #2b2b2b;
  text-shadow: 0px 0px 5px beige;
  margin: auto;
}

.App-header a {
  font-size: 45px;
  font-family: "Backslash";
  color: rgb(65, 75, 85);
  text-shadow: 0px 0px 5px beige;
  position: relative;
  top: 20px;
}

a:link, a:visited {
  color: rgb(65, 75, 85);
  text-decoration: none;
}

a:hover {
  color: beige;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
